<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-diplome-heading"
        data-cy="DiplomeCreateUpdateHeading"
        jhiTranslate="jhipsterProjectBaseJwtApp.diplome.home.createOrEditLabel"
      >
        Créer ou éditer un Diplome
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.intitule" for="field_intitule">Intitule</label>
          <input type="text" class="form-control" name="intitule" id="field_intitule" data-cy="intitule" formControlName="intitule" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.domaine" for="field_domaine">Domaine</label>
          <select class="form-control" name="domaine" formControlName="domaine" id="field_domaine" data-cy="domaine">
            <option [ngValue]="null"></option>
            <option *ngFor="let nomFiliere of nomFiliereValues" [value]="nomFiliere">{{ nomFiliere }}</option>
          </select>
          <div *ngIf="editForm.get('domaine')!.invalid && (editForm.get('domaine')!.dirty || editForm.get('domaine')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('domaine')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.niveau" for="field_niveau">Niveau</label>
          <select class="form-control" name="niveau" formControlName="niveau" id="field_niveau" data-cy="niveau">
            <option [ngValue]="null"></option>
            <option *ngFor="let niveauEtude of niveauEtudeValues" [value]="niveauEtude">{{ niveauEtude }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.mention" for="field_mention">Mention</label>
          <select class="form-control" name="mention" formControlName="mention" id="field_mention" data-cy="mention">
            <option [ngValue]="null"></option>
            <option *ngFor="let mention of mentionValues" [value]="mention">{{ mention }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.anneeObtention" for="field_anneeObtention"
            >Annee Obtention</label
          >
          <input
            type="text"
            class="form-control"
            name="anneeObtention"
            id="field_anneeObtention"
            data-cy="anneeObtention"
            formControlName="anneeObtention"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.etablissement" for="field_etablissement"
            >Etablissement</label
          >
          <input
            type="text"
            class="form-control"
            name="etablissement"
            id="field_etablissement"
            data-cy="etablissement"
            formControlName="etablissement"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.document" for="field_document">Document</label>
          <div>
            <div *ngIf="editForm.get('document')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('document')!.value!, editForm.get('documentContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Ouvrir</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('documentContentType')!.value }}, {{ byteSize(editForm.get('document')!.value!) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ document: undefined, documentContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_document" data-cy="document" (change)="setFileData($event, 'document', false)" />
          </div>
          <input type="hidden" class="form-control" name="document" id="field_document" data-cy="document" formControlName="document" />
          <input
            type="hidden"
            class="form-control"
            name="documentContentType"
            id="field_documentContentType"
            formControlName="documentContentType"
          />
          <div *ngIf="editForm.get('document')!.invalid && (editForm.get('document')!.dirty || editForm.get('document')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('document')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.eleve" for="field_eleve">Eleve</label>
          <select class="form-control" id="field_eleve" data-cy="eleve" name="eleve" formControlName="eleve" [compareWith]="compareEleve">
            <option [ngValue]="null"></option>
            <option [ngValue]="eleveOption" *ngFor="let eleveOption of elevesSharedCollection">{{ eleveOption.niveauEtude }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.etudiant" for="field_etudiant">Etudiant</label>
          <select
            class="form-control"
            id="field_etudiant"
            data-cy="etudiant"
            name="etudiant"
            formControlName="etudiant"
            [compareWith]="compareEtudiant"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="etudiantOption" *ngFor="let etudiantOption of etudiantsSharedCollection">
              {{ etudiantOption.carteEtudiant }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.professionnel" for="field_professionnel"
            >Professionnel</label
          >
          <select
            class="form-control"
            id="field_professionnel"
            data-cy="professionnel"
            name="professionnel"
            formControlName="professionnel"
            [compareWith]="compareProfessionnel"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="professionnelOption" *ngFor="let professionnelOption of professionnelsSharedCollection">
              {{ professionnelOption.profession }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.diplome.demandeur" for="field_demandeur">Demandeur</label>
          <select
            class="form-control"
            id="field_demandeur"
            data-cy="demandeur"
            name="demandeur"
            formControlName="demandeur"
            [compareWith]="compareDemandeur"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="demandeurOption" *ngFor="let demandeurOption of demandeursSharedCollection">
              {{ demandeurOption.profil }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
