<div>
  <h2 id="page-heading" data-cy="EtablissementHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.home.title">Etablissements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etablissement"
        [routerLink]="['/etablissement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.home.createLabel"> Créer un nouveau Etablissement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etablissements?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.home.notFound">Aucun Etablissement trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="etablissements && etablissements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomEtablissement">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.nomEtablissement">Nom Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="photo">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.photo">Photo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="region">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.region">Region</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="departement">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.departement">Departement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.telephone">Telephone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeEtablissement">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.typeEtablissement">Type Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statut">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.statut">Statut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="autreRegion">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreRegion">Autre Region</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="autreDepartement">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreDepartement">Autre Departement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cfp">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.cfp">Cfp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lycee">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.lycee">Lycee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="filiere">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.filiere">Filiere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serie">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.serie">Serie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="autreFiliere">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreFiliere">Autre Filiere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="autreSerie">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreSerie">Autre Serie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="autreNomEtablissement">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreNomEtablissement">Autre Nom Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let etablissement of etablissements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etablissement', etablissement.id, 'view']">{{ etablissement.id }}</a>
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomEtablissement.' + etablissement.nomEtablissement }}">
            {{ etablissement.nomEtablissement }}
          </td>
          <td>
            <a *ngIf="etablissement.photo" (click)="openFile(etablissement.photo, etablissement.photoContentType)">
              <img
                [src]="'data:' + etablissement.photoContentType + ';base64,' + etablissement.photo"
                style="max-height: 30px"
                alt="etablissement image"
              />
            </a>
            <span *ngIf="etablissement.photo">{{ etablissement.photoContentType }}, {{ byteSize(etablissement.photo) }}</span>
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomRegion.' + etablissement.region }}">{{ etablissement.region }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomDepartement.' + etablissement.departement }}">
            {{ etablissement.departement }}
          </td>
          <td>{{ etablissement.email }}</td>
          <td>{{ etablissement.telephone }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.TypeEtablissement.' + etablissement.typeEtablissement }}">
            {{ etablissement.typeEtablissement }}
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.StatutEtab.' + etablissement.statut }}">{{ etablissement.statut }}</td>
          <td>{{ etablissement.autreRegion }}</td>
          <td>{{ etablissement.autreDepartement }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.CFP.' + etablissement.cfp }}">{{ etablissement.cfp }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.LYCEE.' + etablissement.lycee }}">{{ etablissement.lycee }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomFiliere.' + etablissement.filiere }}">{{ etablissement.filiere }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomSerie.' + etablissement.serie }}">{{ etablissement.serie }}</td>
          <td>{{ etablissement.autreFiliere }}</td>
          <td>{{ etablissement.autreSerie }}</td>
          <td>{{ etablissement.autreNomEtablissement }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etablissement', etablissement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etablissement', etablissement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(etablissement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
