<div>
  <h2 id="page-heading" data-cy="DossierHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.home.title">Dossiers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dossier"
        [routerLink]="['/dossier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.home.createLabel"> Créer un nouveau Dossier </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dossiers?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.home.notFound">Aucun Dossier trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dossiers && dossiers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numDossier">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.numDossier">Num Dossier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.prenom">Prenom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomUtilisateur">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.nomUtilisateur">Nom Utilisateur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.dateNaiss">Date Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lieuNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.lieuNaiss">Lieu Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regionNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.regionNaiss">Region Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="departementNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.departementNaiss">Departement Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typePiece">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.typePiece">Type Piece</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroPiece">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.numeroPiece">Numero Piece</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.sexe">Sexe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regionResidence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.regionResidence">Region Residence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="depResidence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.depResidence">Dep Residence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresseResidence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.adresseResidence">Adresse Residence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone1">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.telephone1">Telephone 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone2">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.telephone2">Telephone 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="niveauFormation">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.niveauFormation">Niveau Formation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="specialite">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.specialite">Specialite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="intituleDiplome">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.intituleDiplome">Intitule Diplome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="diplome">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.diplome">Diplome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="anneeObtention">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.anneeObtention">Annee Obtention</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lieuObtention">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.lieuObtention">Lieu Obtention</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cv">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.cv">Cv</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lettreMotivation">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.lettreMotivation">Lettre Motivation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profession">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.profession">Profession</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="autreSpecialite">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.autreSpecialite">Autre Specialite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomCompetence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.nomCompetence">Nom Competence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="niveauCompetence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.niveauCompetence">Niveau Competence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="intituleExperience">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.intituleExperience">Intitule Experience</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="posteOccupe">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.posteOccupe">Poste Occupe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.dateDebut">Date Debut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.dateFin">Date Fin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomEntreprise">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.nomEntreprise">Nom Entreprise</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mission">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.mission">Mission</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eleve.niveauEtude">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.eleve">Eleve</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etudiant.carteEtudiant">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.etudiant">Etudiant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="professionnel.profession">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.dossier.professionnel">Professionnel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let dossier of dossiers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dossier', dossier.id, 'view']">{{ dossier.id }}</a>
          </td>
          <td>{{ dossier.numDossier }}</td>
          <td>{{ dossier.prenom }}</td>
          <td>{{ dossier.nom }}</td>
          <td>{{ dossier.nomUtilisateur }}</td>
          <td>{{ dossier.dateNaiss | formatMediumDate }}</td>
          <td>{{ dossier.lieuNaiss }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomRegion.' + dossier.regionNaiss }}">{{ dossier.regionNaiss }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomDepartement.' + dossier.departementNaiss }}">
            {{ dossier.departementNaiss }}
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.TypePiece.' + dossier.typePiece }}">{{ dossier.typePiece }}</td>
          <td>{{ dossier.numeroPiece }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Sexe.' + dossier.sexe }}">{{ dossier.sexe }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomRegion.' + dossier.regionResidence }}">{{ dossier.regionResidence }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomDepartement.' + dossier.depResidence }}">{{ dossier.depResidence }}</td>
          <td>{{ dossier.adresseResidence }}</td>
          <td>{{ dossier.telephone1 }}</td>
          <td>{{ dossier.telephone2 }}</td>
          <td>{{ dossier.email }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NiveauEtude.' + dossier.niveauFormation }}">{{ dossier.niveauFormation }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomFiliere.' + dossier.specialite }}">{{ dossier.specialite }}</td>
          <td>{{ dossier.intituleDiplome }}</td>
          <td>
            <a *ngIf="dossier.diplome" (click)="openFile(dossier.diplome, dossier.diplomeContentType)" jhiTranslate="entity.action.open"
              >Ouvrir</a
            >
            <span *ngIf="dossier.diplome">{{ dossier.diplomeContentType }}, {{ byteSize(dossier.diplome) }}</span>
          </td>
          <td>{{ dossier.anneeObtention | formatMediumDate }}</td>
          <td>{{ dossier.lieuObtention }}</td>
          <td>
            <a *ngIf="dossier.cv" (click)="openFile(dossier.cv, dossier.cvContentType)" jhiTranslate="entity.action.open">Ouvrir</a>
            <span *ngIf="dossier.cv">{{ dossier.cvContentType }}, {{ byteSize(dossier.cv) }}</span>
          </td>
          <td>
            <a
              *ngIf="dossier.lettreMotivation"
              (click)="openFile(dossier.lettreMotivation, dossier.lettreMotivationContentType)"
              jhiTranslate="entity.action.open"
              >Ouvrir</a
            >
            <span *ngIf="dossier.lettreMotivation"
              >{{ dossier.lettreMotivationContentType }}, {{ byteSize(dossier.lettreMotivation) }}</span
            >
          </td>
          <td>{{ dossier.profession }}</td>
          <td>{{ dossier.autreSpecialite }}</td>
          <td>{{ dossier.nomCompetence }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NIVEAUCOMP.' + dossier.niveauCompetence }}">{{ dossier.niveauCompetence }}</td>
          <td>{{ dossier.intituleExperience }}</td>
          <td>{{ dossier.posteOccupe }}</td>
          <td>{{ dossier.dateDebut | formatMediumDate }}</td>
          <td>{{ dossier.dateFin | formatMediumDate }}</td>
          <td>{{ dossier.nomEntreprise }}</td>
          <td>{{ dossier.mission }}</td>
          <td>
            <div *ngIf="dossier.eleve">
              <a [routerLink]="['/eleve', dossier.eleve.id, 'view']">{{ dossier.eleve.niveauEtude }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dossier.etudiant">
              <a [routerLink]="['/etudiant', dossier.etudiant.id, 'view']">{{ dossier.etudiant.carteEtudiant }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dossier.professionnel">
              <a [routerLink]="['/professionnel', dossier.professionnel.id, 'view']">{{ dossier.professionnel.profession }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dossier', dossier.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dossier', dossier.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(dossier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
