<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-concours-heading"
        data-cy="ConcoursCreateUpdateHeading"
        jhiTranslate="jhipsterProjectBaseJwtApp.concours.home.createOrEditLabel"
      >
        Créer ou éditer un Concours
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.concours.nomConcours" for="field_nomConcours"
            >Nom Concours</label
          >
          <input
            type="text"
            class="form-control"
            name="nomConcours"
            id="field_nomConcours"
            data-cy="nomConcours"
            formControlName="nomConcours"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.concours.nomEtablissement" for="field_nomEtablissement"
            >Nom Etablissement</label
          >
          <select
            class="form-control"
            name="nomEtablissement"
            formControlName="nomEtablissement"
            id="field_nomEtablissement"
            data-cy="nomEtablissement"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let nomEtablissement of nomEtablissementValues" [value]="nomEtablissement">{{ nomEtablissement }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.concours.niveauEtude" for="field_niveauEtude"
            >Niveau Etude</label
          >
          <select class="form-control" name="niveauEtude" formControlName="niveauEtude" id="field_niveauEtude" data-cy="niveauEtude">
            <option [ngValue]="null"></option>
            <option *ngFor="let niveauEtude of niveauEtudeValues" [value]="niveauEtude">{{ niveauEtude }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.concours.dateOuverture" for="field_dateOuverture"
            >Date Ouverture</label
          >
          <div class="input-group">
            <input
              id="field_dateOuverture"
              data-cy="dateOuverture"
              type="text"
              class="form-control"
              name="dateOuverture"
              ngbDatepicker
              #dateOuvertureDp="ngbDatepicker"
              formControlName="dateOuverture"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOuvertureDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.concours.dateCloture" for="field_dateCloture"
            >Date Cloture</label
          >
          <div class="input-group">
            <input
              id="field_dateCloture"
              data-cy="dateCloture"
              type="text"
              class="form-control"
              name="dateCloture"
              ngbDatepicker
              #dateClotureDp="ngbDatepicker"
              formControlName="dateCloture"
            />
            <button type="button" class="btn btn-secondary" (click)="dateClotureDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.concours.dateConcours" for="field_dateConcours"
            >Date Concours</label
          >
          <div class="input-group">
            <input
              id="field_dateConcours"
              data-cy="dateConcours"
              type="text"
              class="form-control"
              name="dateConcours"
              ngbDatepicker
              #dateConcoursDp="ngbDatepicker"
              formControlName="dateConcours"
            />
            <button type="button" class="btn btn-secondary" (click)="dateConcoursDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.concours.affiche" for="field_affiche">Affiche</label>
          <div>
            <img
              [src]="'data:' + editForm.get('afficheContentType')!.value + ';base64,' + editForm.get('affiche')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('affiche')!.value"
              alt="concours image"
            />
            <div *ngIf="editForm.get('affiche')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('afficheContentType')!.value }}, {{ byteSize(editForm.get('affiche')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('affiche', 'afficheContentType', 'file_affiche')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_affiche" data-cy="affiche" (change)="setFileData($event, 'affiche', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="affiche" id="field_affiche" data-cy="affiche" formControlName="affiche" />
          <input
            type="hidden"
            class="form-control"
            name="afficheContentType"
            id="field_afficheContentType"
            formControlName="afficheContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.concours.formation" for="field_formation">Formation</label>
          <select
            class="form-control"
            id="field_formation"
            data-cy="formation"
            name="formation"
            formControlName="formation"
            [compareWith]="compareFormation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="formationOption" *ngFor="let formationOption of formationsCollection">
              {{ formationOption.nomFormation }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
