.p1 {
  background-color: rgb(217, 217, 220);
  border-radius: 35%;
  width: 100px;
  color: #2828f4;
  height: 20vh;
}

.p {
  display: flex;
}

.dateNaiss {
  margin-right: 50px;
}

.regionNaiss {
  margin-right: 50px;
}

.prenom {
  margin-right: 50px;
  margin-left: 5px;
}
