<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dossier">
      <h2 data-cy="dossierDetailsHeading"><span>Dossier</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ dossier.id }}</span>
        </dd>
        <dt><span>Num Dossier</span></dt>
        <dd>
          <span>{{ dossier.numDossier }}</span>
        </dd>
        <dt><span>Date Naiss</span></dt>
        <dd>
          <span>{{ dossier.dateNaiss | formatMediumDate }}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
          <span>{{ dossier.prenom }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ dossier.nom }}</span>
        </dd>
        <dt><span>Nom Utilisateur</span></dt>
        <dd>
          <span>{{ dossier.nomUtilisateur }}</span>
        </dd>
        <dt><span>Region Naiss</span></dt>
        <dd>
          <span>{{ dossier.regionNaiss }}</span>
        </dd>
        <dt><span>Departement Naiss</span></dt>
        <dd>
          <span>{{ dossier.departementNaiss }}</span>
        </dd>
        <dt><span>Lieu Naiss</span></dt>
        <dd>
          <span>{{ dossier.lieuNaiss }}</span>
        </dd>
        <dt><span>Type Piece</span></dt>
        <dd>
          <span>{{ dossier.typePiece }}</span>
        </dd>
        <dt><span>Numero Piece</span></dt>
        <dd>
          <span>{{ dossier.numeroPiece }}</span>
        </dd>
        <dt><span>Sexe</span></dt>
        <dd>
          <span>{{ dossier.sexe }}</span>
        </dd>
        <dt><span>Region Residence</span></dt>
        <dd>
          <span>{{ dossier.regionResidence }}</span>
        </dd>
        <dt><span>Dep Residence</span></dt>
        <dd>
          <span>{{ dossier.depResidence }}</span>
        </dd>
        <dt><span>Adresse Residence</span></dt>
        <dd>
          <span>{{ dossier.adresseResidence }}</span>
        </dd>
        <dt><span>Telephone 1</span></dt>
        <dd>
          <span>{{ dossier.telephone1 }}</span>
        </dd>
        <dt><span>Telephone 2</span></dt>
        <dd>
          <span>{{ dossier.telephone2 }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ dossier.email }}</span>
        </dd>
        <dt><span>Niveau Formation</span></dt>
        <dd>
          <span>{{ dossier.niveauFormation }}</span>
        </dd>
        <dt><span>Specialite 1</span></dt>
        <dd>
          <span>{{ dossier.specialite1 }}</span>
        </dd>
        <dt><span>Specialite 2</span></dt>
        <dd>
          <span>{{ dossier.specialite2 }}</span>
        </dd>
        <dt><span>Diplome Requis</span></dt>
        <dd>
          <span>{{ dossier.diplomeRequis }}</span>
        </dd>
        <dt><span>Cv</span></dt>
        <dd>
          <div *ngIf="dossier.cv">
            <a (click)="openFile(dossier.cv, dossier.cvContentType)">open</a>
            {{ dossier.cvContentType }}, {{ byteSize(dossier.cv) }}
          </div>
        </dd>
        <dt><span>Lettre Motivation</span></dt>
        <dd>
          <span>{{ dossier.lettreMotivation }}</span>
        </dd>
        <dt><span>Profession</span></dt>
        <dd>
          <span>{{ dossier.profession }}</span>
        </dd>
        <dt><span>Eleve</span></dt>
        <dd>
          <div *ngIf="dossier.eleve">
            <a [routerLink]="['/eleve', dossier.eleve?.id, 'view']">{{ dossier.eleve?.niveauEtude }}</a>
          </div>
        </dd>
        <dt><span>Etudiant</span></dt>
        <dd>
          <div *ngIf="dossier.etudiant">
            <a [routerLink]="['/etudiant', dossier.etudiant?.id, 'view']">{{ dossier.etudiant?.carteEtudiant }}</a>
          </div>
        </dd>
        <dt><span>Professionnel</span></dt>
        <dd>
          <div *ngIf="dossier.professionnel">
            <a [routerLink]="['/professionnel', dossier.professionnel?.id, 'view']">{{ dossier.professionnel?.profession }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/dossier', dossier.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
