.image {
  display: inline-block;
  background-image: url('../../../../content/images/formations/image4.jpg');
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.bienvenu {
  font-weight: bold;
  font-size: xx-large;
}

.espace {
  height: 10vh;
  background-color: aliceblue;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
}
