<div>
  <div class="espace">
    <marquee behavior="scroll" class="bienvenu">
      <p>Bienvenue sur la plateforme de gestion des demandeurs de formations professionnelles et techniques</p>
    </marquee>
  </div>
  <div class="image"></div>
  <div class="text">
    <br />
    <p>
      Le jargon du monde de la formation peut être compliqué pour des non-initiés. Il est donc important de comprendre de quoi on vous parle
      avant de choisir une formation
    </p>
    <br />
  </div>
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formation initiale</h5>
          <p class="card-text text">
            La formation initiale désigne la formation sous statut étudiant. Elle permet d’acquérir, tout au long du cursus, les
            connaissances, savoirs et compétences nécessaires à l’entrée dans la vie active. La durée est variable selon la formation
            choisie : BTS, Bachelor... A la fin, l’étudiant se voit récompensé par l’obtention d’un diplôme.
          </p>
          <a routerLink="../formation-initiale" class="btn btn-primary">Choisir une formation</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formation continue</h5>
          <p class="card-text text">
            La formation continue permet d’acquérir de nouvelles compétences tout au long de sa vie professionnelle dans le cadre d’un
            maintien ou d’un retour à l’emploi. C’est une véritable opportunité pour les personnes déjà entrées dans la vie active.
          </p>
          <a routerLink="../formation-continue" class="btn btn-primary">Choisir une formation</a>
        </div>
      </div>
    </div>
  </div>
</div>
