<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="demandeur">
      <h2 data-cy="demandeurDetailsHeading"><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.detail.title">Demandeur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demandeur.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.nom">Nom</span></dt>
        <dd>
          <span>{{ demandeur.nom }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.prenom">Prenom</span></dt>
        <dd>
          <span>{{ demandeur.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.dateNaiss">Date Naiss</span></dt>
        <dd>
          <span>{{ demandeur.dateNaiss | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.lieuNaiss">Lieu Naiss</span></dt>
        <dd>
          <span>{{ demandeur.lieuNaiss }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Sexe.' + demandeur.sexe }}">{{ demandeur.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.telephone">Telephone</span></dt>
        <dd>
          <span>{{ demandeur.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.email">Email</span></dt>
        <dd>
          <span>{{ demandeur.email }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.profil">Profil</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Profil.' + demandeur.profil }}">{{ demandeur.profil }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.user">User</span></dt>
        <dd>
          <span>{{ demandeur.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.dossier">Dossier</span></dt>
        <dd>
          <div *ngIf="demandeur.dossier">
            <a [routerLink]="['/dossier', demandeur.dossier.id, 'view']">{{ demandeur.dossier.numDossier }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.eleve">Eleve</span></dt>
        <dd>
          <div *ngIf="demandeur.eleve">
            <a [routerLink]="['/eleve', demandeur.eleve.id, 'view']">{{ demandeur.eleve.cni }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.etudiant">Etudiant</span></dt>
        <dd>
          <div *ngIf="demandeur.etudiant">
            <a [routerLink]="['/etudiant', demandeur.etudiant.id, 'view']">{{ demandeur.etudiant.cni }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.professionnel">Professionnel</span></dt>
        <dd>
          <div *ngIf="demandeur.professionnel">
            <a [routerLink]="['/professionnel', demandeur.professionnel.id, 'view']">{{ demandeur.professionnel.cni }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/demandeur', demandeur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
