<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-service-mfpai-heading" data-cy="ServiceMFPAICreateUpdateHeading">Créer un service du MFPAI</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_imageService">Image Service</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageServiceContentType')!.value + ';base64,' + editForm.get('imageService')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('imageService')!.value"
              alt="serviceMFPAI image"
            />
            <div *ngIf="editForm.get('imageService')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('imageServiceContentType')!.value }}, {{ byteSize(editForm.get('imageService')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('imageService', 'imageServiceContentType', 'file_imageService')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_imageService"
              data-cy="imageService"
              (change)="setFileData($event, 'imageService', true)"
              accept="image/*"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="imageService"
            id="field_imageService"
            data-cy="imageService"
            formControlName="imageService"
          />
          <input
            type="hidden"
            class="form-control"
            name="imageServiceContentType"
            id="field_imageServiceContentType"
            formControlName="imageServiceContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomService">Nom Service</label>
          <input
            type="text"
            class="form-control"
            name="nomService"
            id="field_nomService"
            data-cy="nomService"
            formControlName="nomService"
          />
          <div
            *ngIf="editForm.get('nomService')!.invalid && (editForm.get('nomService')!.dirty || editForm.get('nomService')!.touched)"
          ></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_chefService">Chef Service</label>
          <input
            type="text"
            class="form-control"
            name="chefService"
            id="field_chefService"
            data-cy="chefService"
            formControlName="chefService"
          />
          <div *ngIf="editForm.get('chefService')!.invalid && (editForm.get('chefService')!.dirty || editForm.get('chefService')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('chefService')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
