<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-dossier-heading"
        data-cy="DossierCreateUpdateHeading"
        jhiTranslate="jhipsterProjectBaseJwtApp.dossier.home.createOrEditLabel"
      >
        Créer ou éditer un Dossier
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.numDossier" for="field_numDossier">Num Dossier</label>
          <input
            type="text"
            class="form-control"
            name="numDossier"
            id="field_numDossier"
            data-cy="numDossier"
            formControlName="numDossier"
          />
          <div
            *ngIf="editForm.get('numDossier')!.invalid && (editForm.get('numDossier')!.dirty || editForm.get('numDossier')!.touched)"
          ></div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
          <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('prenom')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.nomUtilisateur" for="field_nomUtilisateur"
            >Nom Utilisateur</label
          >
          <input
            type="text"
            class="form-control"
            name="nomUtilisateur"
            id="field_nomUtilisateur"
            data-cy="nomUtilisateur"
            formControlName="nomUtilisateur"
          />
          <div
            *ngIf="
              editForm.get('nomUtilisateur')!.invalid && (editForm.get('nomUtilisateur')!.dirty || editForm.get('nomUtilisateur')!.touched)
            "
          ></div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.dateNaiss" for="field_dateNaiss">Date Naiss</label>
          <div class="input-group">
            <input
              id="field_dateNaiss"
              data-cy="dateNaiss"
              type="text"
              class="form-control"
              name="dateNaiss"
              ngbDatepicker
              #dateNaissDp="ngbDatepicker"
              formControlName="dateNaiss"
            />
            <button type="button" class="btn btn-secondary" (click)="dateNaissDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.lieuNaiss" for="field_lieuNaiss">Lieu Naiss</label>
          <input type="text" class="form-control" name="lieuNaiss" id="field_lieuNaiss" data-cy="lieuNaiss" formControlName="lieuNaiss" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.regionNaiss" for="field_regionNaiss"
            >Region Naiss</label
          >
          <select class="form-control" name="regionNaiss" formControlName="regionNaiss" id="field_regionNaiss" data-cy="regionNaiss">
            <option [ngValue]="null"></option>
            <option *ngFor="let nomRegion of nomRegionValues" [value]="nomRegion">{{ nomRegion }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.departementNaiss" for="field_departementNaiss"
            >Departement Naiss</label
          >
          <select
            class="form-control"
            name="departementNaiss"
            formControlName="departementNaiss"
            id="field_departementNaiss"
            data-cy="departementNaiss"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let nomDepartement of nomDepartementValues" [value]="nomDepartement">{{ nomDepartement }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.typePiece" for="field_typePiece">Type Piece</label>
          <select class="form-control" name="typePiece" formControlName="typePiece" id="field_typePiece" data-cy="typePiece">
            <option [ngValue]="null"></option>
            <option *ngFor="let typePiece of typePieceValues" [value]="typePiece">{{ typePiece }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.numeroPiece" for="field_numeroPiece"
            >Numero Piece</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroPiece"
            id="field_numeroPiece"
            data-cy="numeroPiece"
            formControlName="numeroPiece"
          />
          <div *ngIf="editForm.get('numeroPiece')!.invalid && (editForm.get('numeroPiece')!.dirty || editForm.get('numeroPiece')!.touched)">
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroPiece')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.sexe" for="field_sexe">Sexe</label>
          <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe" data-cy="sexe">
            <option [ngValue]="null"></option>
            <option *ngFor="let sexe of sexeValues" [value]="sexe">{{ sexe }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.regionResidence" for="field_regionResidence"
            >Region Residence</label
          >
          <select
            class="form-control"
            name="regionResidence"
            formControlName="regionResidence"
            id="field_regionResidence"
            data-cy="regionResidence"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let nomRegion of nomRegionValues" [value]="nomRegion">{{ nomRegion }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.depResidence" for="field_depResidence"
            >Dep Residence</label
          >
          <select class="form-control" name="depResidence" formControlName="depResidence" id="field_depResidence" data-cy="depResidence">
            <option [ngValue]="null"></option>
            <option *ngFor="let nomDepartement of nomDepartementValues" [value]="nomDepartement">{{ nomDepartement }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.adresseResidence" for="field_adresseResidence"
            >Adresse Residence</label
          >
          <input
            type="text"
            class="form-control"
            name="adresseResidence"
            id="field_adresseResidence"
            data-cy="adresseResidence"
            formControlName="adresseResidence"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.telephone1" for="field_telephone1">Telephone 1</label>
          <input
            type="text"
            class="form-control"
            name="telephone1"
            id="field_telephone1"
            data-cy="telephone1"
            formControlName="telephone1"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.telephone2" for="field_telephone2">Telephone 2</label>
          <input
            type="text"
            class="form-control"
            name="telephone2"
            id="field_telephone2"
            data-cy="telephone2"
            formControlName="telephone2"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.niveauFormation" for="field_niveauFormation"
            >Niveau Formation</label
          >
          <select
            class="form-control"
            name="niveauFormation"
            formControlName="niveauFormation"
            id="field_niveauFormation"
            data-cy="niveauFormation"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let niveauEtude of niveauEtudeValues" [value]="niveauEtude">{{ niveauEtude }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.specialite" for="field_specialite">Specialite</label>
          <select class="form-control" name="specialite" formControlName="specialite" id="field_specialite" data-cy="specialite">
            <option [ngValue]="null"></option>
            <option *ngFor="let nomFiliere of nomFiliereValues" [value]="nomFiliere">{{ nomFiliere }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.intituleDiplome" for="field_intituleDiplome"
            >Intitule Diplome</label
          >
          <input
            type="text"
            class="form-control"
            name="intituleDiplome"
            id="field_intituleDiplome"
            data-cy="intituleDiplome"
            formControlName="intituleDiplome"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.diplome" for="field_diplome">Diplome</label>
          <div>
            <div *ngIf="editForm.get('diplome')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('diplome')!.value!, editForm.get('diplomeContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Ouvrir</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('diplomeContentType')!.value }}, {{ byteSize(editForm.get('diplome')!.value!) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ diplome: undefined, diplomeContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_diplome" data-cy="diplome" (change)="setFileData($event, 'diplome', false)" />
          </div>
          <input type="hidden" class="form-control" name="diplome" id="field_diplome" data-cy="diplome" formControlName="diplome" />
          <input
            type="hidden"
            class="form-control"
            name="diplomeContentType"
            id="field_diplomeContentType"
            formControlName="diplomeContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.anneeObtention" for="field_anneeObtention"
            >Annee Obtention</label
          >
          <div class="input-group">
            <input
              id="field_anneeObtention"
              data-cy="anneeObtention"
              type="text"
              class="form-control"
              name="anneeObtention"
              ngbDatepicker
              #anneeObtentionDp="ngbDatepicker"
              formControlName="anneeObtention"
            />
            <button type="button" class="btn btn-secondary" (click)="anneeObtentionDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.lieuObtention" for="field_lieuObtention"
            >Lieu Obtention</label
          >
          <input
            type="text"
            class="form-control"
            name="lieuObtention"
            id="field_lieuObtention"
            data-cy="lieuObtention"
            formControlName="lieuObtention"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.cv" for="field_cv">Cv</label>
          <div>
            <div *ngIf="editForm.get('cv')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('cv')!.value!, editForm.get('cvContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Ouvrir</a
              ><br />
              <span class="pull-start">{{ editForm.get('cvContentType')!.value }}, {{ byteSize(editForm.get('cv')!.value!) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ cv: undefined, cvContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_cv" data-cy="cv" (change)="setFileData($event, 'cv', false)" />
          </div>
          <input type="hidden" class="form-control" name="cv" id="field_cv" data-cy="cv" formControlName="cv" />
          <input type="hidden" class="form-control" name="cvContentType" id="field_cvContentType" formControlName="cvContentType" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.lettreMotivation" for="field_lettreMotivation"
            >Lettre Motivation</label
          >
          <div>
            <div *ngIf="editForm.get('lettreMotivation')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('lettreMotivation')!.value!, editForm.get('lettreMotivationContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Ouvrir</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('lettreMotivationContentType')!.value }}, {{ byteSize(editForm.get('lettreMotivation')!.value!) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ lettreMotivation: undefined, lettreMotivationContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_lettreMotivation"
              data-cy="lettreMotivation"
              (change)="setFileData($event, 'lettreMotivation', false)"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="lettreMotivation"
            id="field_lettreMotivation"
            data-cy="lettreMotivation"
            formControlName="lettreMotivation"
          />
          <input
            type="hidden"
            class="form-control"
            name="lettreMotivationContentType"
            id="field_lettreMotivationContentType"
            formControlName="lettreMotivationContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.profession" for="field_profession">Profession</label>
          <input
            type="text"
            class="form-control"
            name="profession"
            id="field_profession"
            data-cy="profession"
            formControlName="profession"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.autreSpecialite" for="field_autreSpecialite"
            >Autre Specialite</label
          >
          <input
            type="text"
            class="form-control"
            name="autreSpecialite"
            id="field_autreSpecialite"
            data-cy="autreSpecialite"
            formControlName="autreSpecialite"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.nomCompetence" for="field_nomCompetence"
            >Nom Competence</label
          >
          <input
            type="text"
            class="form-control"
            name="nomCompetence"
            id="field_nomCompetence"
            data-cy="nomCompetence"
            formControlName="nomCompetence"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.niveauCompetence" for="field_niveauCompetence"
            >Niveau Competence</label
          >
          <select
            class="form-control"
            name="niveauCompetence"
            formControlName="niveauCompetence"
            id="field_niveauCompetence"
            data-cy="niveauCompetence"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let nIVEAUCOMP of nIVEAUCOMPValues" [value]="nIVEAUCOMP">{{ nIVEAUCOMP }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.intituleExperience" for="field_intituleExperience"
            >Intitule Experience</label
          >
          <input
            type="text"
            class="form-control"
            name="intituleExperience"
            id="field_intituleExperience"
            data-cy="intituleExperience"
            formControlName="intituleExperience"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.posteOccupe" for="field_posteOccupe"
            >Poste Occupe</label
          >
          <input
            type="text"
            class="form-control"
            name="posteOccupe"
            id="field_posteOccupe"
            data-cy="posteOccupe"
            formControlName="posteOccupe"
          />
          <div *ngIf="editForm.get('posteOccupe')!.invalid && (editForm.get('posteOccupe')!.dirty || editForm.get('posteOccupe')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('posteOccupe')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.dateDebut" for="field_dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('dateDebut')!.invalid && (editForm.get('dateDebut')!.dirty || editForm.get('dateDebut')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateDebut')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.dateFin" for="field_dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('dateFin')!.invalid && (editForm.get('dateFin')!.dirty || editForm.get('dateFin')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateFin')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.nomEntreprise" for="field_nomEntreprise"
            >Nom Entreprise</label
          >
          <input
            type="text"
            class="form-control"
            name="nomEntreprise"
            id="field_nomEntreprise"
            data-cy="nomEntreprise"
            formControlName="nomEntreprise"
          />
          <div
            *ngIf="
              editForm.get('nomEntreprise')!.invalid && (editForm.get('nomEntreprise')!.dirty || editForm.get('nomEntreprise')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomEntreprise')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.mission" for="field_mission">Mission</label>
          <textarea class="form-control" name="mission" id="field_mission" data-cy="mission" formControlName="mission"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.eleve" for="field_eleve">Eleve</label>
          <select class="form-control" id="field_eleve" data-cy="eleve" name="eleve" formControlName="eleve" [compareWith]="compareEleve">
            <option [ngValue]="null"></option>
            <option [ngValue]="eleveOption" *ngFor="let eleveOption of elevesCollection">{{ eleveOption.niveauEtude }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.etudiant" for="field_etudiant">Etudiant</label>
          <select
            class="form-control"
            id="field_etudiant"
            data-cy="etudiant"
            name="etudiant"
            formControlName="etudiant"
            [compareWith]="compareEtudiant"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="etudiantOption" *ngFor="let etudiantOption of etudiantsCollection">
              {{ etudiantOption.carteEtudiant }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.dossier.professionnel" for="field_professionnel"
            >Professionnel</label
          >
          <select
            class="form-control"
            id="field_professionnel"
            data-cy="professionnel"
            name="professionnel"
            formControlName="professionnel"
            [compareWith]="compareProfessionnel"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="professionnelOption" *ngFor="let professionnelOption of professionnelsCollection">
              {{ professionnelOption.profession }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
