<div>
  <h2 id="page-heading" data-cy="PriseEnChargeHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.priseEnCharge.home.title">PriseEnCharges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.priseEnCharge.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prise-en-charge"
        [routerLink]="['/prise-en-charge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.priseEnCharge.home.createLabel"> Créer un nouveau Prise En Charge </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="priseEnCharges?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.priseEnCharge.home.notFound">Aucun Prise En Charge trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="priseEnCharges && priseEnCharges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libelle">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.priseEnCharge.libelle">Libelle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montantPC">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.priseEnCharge.montantPC">Montant PC</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="formation.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.priseEnCharge.formation">Formation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bailleur.nomBailleur">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.priseEnCharge.bailleur">Bailleur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let priseEnCharge of priseEnCharges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prise-en-charge', priseEnCharge.id, 'view']">{{ priseEnCharge.id }}</a>
          </td>
          <td>{{ priseEnCharge.libelle }}</td>
          <td>{{ priseEnCharge.montantPC }}</td>
          <td>
            <div *ngIf="priseEnCharge.formation">
              <a [routerLink]="['/formation', priseEnCharge.formation.id, 'view']">{{ priseEnCharge.formation.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="priseEnCharge.bailleur">
              <a [routerLink]="['/bailleur', priseEnCharge.bailleur.id, 'view']">{{ priseEnCharge.bailleur.nomBailleur }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prise-en-charge', priseEnCharge.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prise-en-charge', priseEnCharge.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(priseEnCharge)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
