<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="etablissement">
      <h2 data-cy="etablissementDetailsHeading">
        <span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.detail.title">Etablissement</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ etablissement.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.nomEtablissement">Nom Etablissement</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomEtablissement.' + etablissement.nomEtablissement }}">{{
            etablissement.nomEtablissement
          }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.photo">Photo</span></dt>
        <dd>
          <div *ngIf="etablissement.photo">
            <a (click)="openFile(etablissement.photo, etablissement.photoContentType)">
              <img
                [src]="'data:' + etablissement.photoContentType + ';base64,' + etablissement.photo"
                style="max-width: 100%"
                alt="etablissement image"
              />
            </a>
            {{ etablissement.photoContentType }}, {{ byteSize(etablissement.photo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.region">Region</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomRegion.' + etablissement.region }}">{{ etablissement.region }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.departement">Departement</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomDepartement.' + etablissement.departement }}">{{
            etablissement.departement
          }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.email">Email</span></dt>
        <dd>
          <span>{{ etablissement.email }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.telephone">Telephone</span></dt>
        <dd>
          <span>{{ etablissement.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.typeEtablissement">Type Etablissement</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.TypeEtablissement.' + etablissement.typeEtablissement }}">{{
            etablissement.typeEtablissement
          }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.statut">Statut</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.StatutEtab.' + etablissement.statut }}">{{ etablissement.statut }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreRegion">Autre Region</span></dt>
        <dd>
          <span>{{ etablissement.autreRegion }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreDepartement">Autre Departement</span></dt>
        <dd>
          <span>{{ etablissement.autreDepartement }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.cfp">Cfp</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.CFP.' + etablissement.cfp }}">{{ etablissement.cfp }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.lycee">Lycee</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.LYCEE.' + etablissement.lycee }}">{{ etablissement.lycee }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.filiere">Filiere</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomFiliere.' + etablissement.filiere }}">{{ etablissement.filiere }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.serie">Serie</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomSerie.' + etablissement.serie }}">{{ etablissement.serie }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreFiliere">Autre Filiere</span></dt>
        <dd>
          <span>{{ etablissement.autreFiliere }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreSerie">Autre Serie</span></dt>
        <dd>
          <span>{{ etablissement.autreSerie }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etablissement.autreNomEtablissement">Autre Nom Etablissement</span></dt>
        <dd>
          <span>{{ etablissement.autreNomEtablissement }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/etablissement', etablissement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
