<div>
  <h2 id="page-heading" data-cy="ProfessionnelHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.home.title">Professionnels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-professionnel"
        [routerLink]="['/professionnel/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.home.createLabel"> Créer un nouveau Professionnel </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="professionnels?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.home.notFound">Aucun Professionnel trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="professionnels && professionnels.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profession">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.profession">Profession</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.prenom">Prenom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.dateNaiss">Date Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lieuNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.lieuNaiss">Lieu Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.sexe">Sexe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.telephone">Telephone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adressePhysique">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.adressePhysique">Adresse Physique</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regionResidence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.regionResidence">Region Residence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="departResidence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.departResidence">Depart Residence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cni">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.cni">Cni</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let professionnel of professionnels; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/professionnel', professionnel.id, 'view']">{{ professionnel.id }}</a>
          </td>
          <td>{{ professionnel.profession }}</td>
          <td>{{ professionnel.nom }}</td>
          <td>{{ professionnel.prenom }}</td>
          <td>{{ professionnel.dateNaiss | formatMediumDate }}</td>
          <td>{{ professionnel.lieuNaiss }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Sexe.' + professionnel.sexe }}">{{ professionnel.sexe }}</td>
          <td>{{ professionnel.telephone }}</td>
          <td>{{ professionnel.adressePhysique }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomRegion.' + professionnel.regionResidence }}">
            {{ professionnel.regionResidence }}
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomDepartement.' + professionnel.departResidence }}">
            {{ professionnel.departResidence }}
          </td>
          <td>{{ professionnel.email }}</td>
          <td>{{ professionnel.cni }}</td>
          <td>
            {{ professionnel.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/professionnel', professionnel.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/professionnel', professionnel.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(professionnel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
