<div>
  <h2 id="page-heading" data-cy="DiplomeHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.home.title">Diplomes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-diplome"
        [routerLink]="['/diplome/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.home.createLabel"> Créer un nouveau Diplome </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="diplomes?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.home.notFound">Aucun Diplome trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="diplomes && diplomes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="intitule">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.intitule">Intitule</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="domaine">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.domaine">Domaine</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="niveau">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.niveau">Niveau</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mention">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.mention">Mention</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="anneeObtention">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.anneeObtention">Annee Obtention</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etablissement">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.etablissement">Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="document">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.document">Document</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eleve.niveauEtude">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.eleve">Eleve</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etudiant.carteEtudiant">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.etudiant">Etudiant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="professionnel.profession">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.professionnel">Professionnel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="demandeur.profil">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.diplome.demandeur">Demandeur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let diplome of diplomes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/diplome', diplome.id, 'view']">{{ diplome.id }}</a>
          </td>
          <td>{{ diplome.intitule }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomFiliere.' + diplome.domaine }}">{{ diplome.domaine }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NiveauEtude.' + diplome.niveau }}">{{ diplome.niveau }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Mention.' + diplome.mention }}">{{ diplome.mention }}</td>
          <td>{{ diplome.anneeObtention }}</td>
          <td>{{ diplome.etablissement }}</td>
          <td>
            <a *ngIf="diplome.document" (click)="openFile(diplome.document, diplome.documentContentType)" jhiTranslate="entity.action.open"
              >Ouvrir</a
            >
            <span *ngIf="diplome.document">{{ diplome.documentContentType }}, {{ byteSize(diplome.document) }}</span>
          </td>
          <td>
            <div *ngIf="diplome.eleve">
              <a [routerLink]="['/eleve', diplome.eleve.id, 'view']">{{ diplome.eleve.niveauEtude }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="diplome.etudiant">
              <a [routerLink]="['/etudiant', diplome.etudiant.id, 'view']">{{ diplome.etudiant.carteEtudiant }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="diplome.professionnel">
              <a [routerLink]="['/professionnel', diplome.professionnel.id, 'view']">{{ diplome.professionnel.profession }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="diplome.demandeur">
              <a [routerLink]="['/demandeur', diplome.demandeur.id, 'view']">{{ diplome.demandeur.profil }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/diplome', diplome.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/diplome', diplome.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(diplome)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
