<div>
  <h2 id="page-heading" data-cy="FormationContinueHeading" style="text-align: center; font-style: italic; font-weight: bold">
    <span>Les formation continues</span>

    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-formation-continue"
        [routerLink]="['/formation-continue/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Formation Continue </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formationContinues?.length === 0">
    <span>No formationContinues found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="formationContinues && formationContinues.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomFormationC"><span>Nom Formation C</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="duree"><span>Duree</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="admission"><span>Admission</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="diplomeRequis"><span>Diplome Requis</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="niveauEtude"><span>Niveau Etude</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="filiere"><span>Filiere</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="serie"><span>Serie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cfp"><span>Cfp</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lycee"><span>Lycee</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ficheFormation"><span>Fiche Formation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libellePC"><span>Libelle PC</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montantPriseEnCharge"><span>Montant Prise En Charge</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="coutFormation"><span>Cout Formation</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="detailPC"><span>Detail PC</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomDiplome"><span>Nom Diplome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreDiplome"><span>Autre Diplome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomDebouche"><span>Nom Debouche</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="formation.nomFormation"><span>Formation</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let formationContinue of formationContinues; trackBy: trackId" data-cy="entityTable">
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <a [routerLink]="['/formation-continue', formationContinue.id, 'view']">{{ formationContinue.id }}</a>
          </td>
          <td>{{ formationContinue.nomFormationC }}</td>
          <td>{{ formationContinue.duree }}</td>
          <td>{{ formationContinue.admission }}</td>
          <!-- <td>{{ formationContinue.diplomeRequis }}</td> -->
          <td>{{ formationContinue.niveauEtude }}</td>
          <!-- <td>{{ formationContinue.filiere }}</td>
          <td>{{ formationContinue.serie }}</td>
          <td>{{ formationContinue.cfp }}</td>
          <td>{{ formationContinue.lycee }}</td> -->
          <!-- <td>
            <a
              *ngIf="formationContinue.ficheFormation"
              (click)="openFile(formationContinue.ficheFormation, formationContinue.ficheFormationContentType)"
              >open</a
            >
            <span *ngIf="formationContinue.ficheFormation"
              >{{ formationContinue.ficheFormationContentType }}, {{ byteSize(formationContinue.ficheFormation) }}</span
            >
          </td> -->
          <!-- <td>{{ formationContinue.libellePC }}</td>
          <td>{{ formationContinue.montantPriseEnCharge }}</td>
          <td>{{ formationContinue.coutFormation }}</td>
          <td>{{ formationContinue.detailPC }}</td>
          <td>{{ formationContinue.nomDiplome }}</td>
          <td>{{ formationContinue.autreDiplome }}</td>
          <td>{{ formationContinue.nomDebouche }}</td> -->
          <!-- <td>
            <div *ngIf="formationContinue.formation">
              <a [routerLink]="['/formation', formationContinue.formation?.nomFormation, 'view']">{{ formationContinue.formation?.nomFormation }}</a>
            </div>
          </td> -->
          <td class="text-end">
            <div class="btn-group">
              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/formation-continue', formationContinue.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <!-- <span class="d-none d-md-inline">View</span> -->
              </button>

              <button type="submit" routerLink="/candidature-p/new" class="btn btn-success btn-sm" data-cy="entityDetailsButton">
                <!-- <fa-icon icon="eye"></fa-icon> -->
                <span class="d-none d-md-inline">Postuler</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/formation-continue', formationContinue.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <!-- <span class="d-none d-md-inline">Edit</span> -->
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                (click)="delete(formationContinue)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <!-- <span class="d-none d-md-inline">Delete</span> -->
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
