<div>
  <h2 id="page-heading" data-cy="EtudiantHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.home.title">Etudiants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etudiant"
        [routerLink]="['/etudiant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.home.createLabel"> Créer un nouveau Etudiant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etudiants?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.home.notFound">Aucun Etudiant trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="etudiants && etudiants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="carteEtudiant">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.carteEtudiant">Carte Etudiant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.prenom">Prenom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.dateNaiss">Date Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lieuNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.lieuNaiss">Lieu Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.sexe">Sexe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.telephone">Telephone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adressePhysique">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.adressePhysique">Adresse Physique</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regionResidence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.regionResidence">Region Residence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="departResidence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.departResidence">Depart Residence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cni">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.cni">Cni</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let etudiant of etudiants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etudiant', etudiant.id, 'view']">{{ etudiant.id }}</a>
          </td>
          <td>{{ etudiant.carteEtudiant }}</td>
          <td>{{ etudiant.nom }}</td>
          <td>{{ etudiant.prenom }}</td>
          <td>{{ etudiant.dateNaiss | formatMediumDate }}</td>
          <td>{{ etudiant.lieuNaiss }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Sexe.' + etudiant.sexe }}">{{ etudiant.sexe }}</td>
          <td>{{ etudiant.telephone }}</td>
          <td>{{ etudiant.adressePhysique }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomRegion.' + etudiant.regionResidence }}">{{ etudiant.regionResidence }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomDepartement.' + etudiant.departResidence }}">
            {{ etudiant.departResidence }}
          </td>
          <td>{{ etudiant.email }}</td>
          <td>{{ etudiant.cni }}</td>
          <td>
            {{ etudiant.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etudiant', etudiant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etudiant', etudiant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(etudiant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
