<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bailleur">
      <h2 data-cy="bailleurDetailsHeading"><span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.detail.title">Bailleur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bailleur.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.nomBailleur">Nom Bailleur</span></dt>
        <dd>
          <span>{{ bailleur.nomBailleur }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.budgetPrevu">Budget Prevu</span></dt>
        <dd>
          <span>{{ bailleur.budgetPrevu }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.budgetDepense">Budget Depense</span></dt>
        <dd>
          <span>{{ bailleur.budgetDepense }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.budgetRestant">Budget Restant</span></dt>
        <dd>
          <span>{{ bailleur.budgetRestant }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.nbrePC">Nbre PC</span></dt>
        <dd>
          <span>{{ bailleur.nbrePC }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/bailleur', bailleur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
