<div>
  <h2 id="page-heading" data-cy="CandidaturePHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.home.title">CandidaturePS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-candidature-p"
        [routerLink]="['/candidature-p/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.home.createLabel"> Créer un nouveau Candidature P </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="candidaturePS?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.home.notFound">Aucun Candidature P trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="candidaturePS && candidaturePS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="offreFormation">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.offreFormation">Offre Formation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDebutOffre">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.dateDebutOffre">Date Debut Offre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFinOffre">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.dateFinOffre">Date Fin Offre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDepot">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.dateDepot">Date Depot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="resultat">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.resultat">Resultat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="professionnel.profession">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.professionnel">Professionnel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="formationContinue.nomFormationC">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.formationContinue">Formation Continue</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etablissement.nomEtablissement">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.etablissement">Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let candidatureP of candidaturePS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/candidature-p', candidatureP.id, 'view']">{{ candidatureP.id }}</a>
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomFiliere.' + candidatureP.offreFormation }}">
            {{ candidatureP.offreFormation }}
          </td>
          <td>{{ candidatureP.dateDebutOffre | formatMediumDate }}</td>
          <td>{{ candidatureP.dateFinOffre | formatMediumDate }}</td>
          <td>{{ candidatureP.dateDepot | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Resultat.' + candidatureP.resultat }}">{{ candidatureP.resultat }}</td>
          <td>
            <div *ngIf="candidatureP.professionnel">
              <a [routerLink]="['/professionnel', candidatureP.professionnel.id, 'view']">{{ candidatureP.professionnel.profession }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="candidatureP.formationContinue">
              <a [routerLink]="['/formation-continue', candidatureP.formationContinue.id, 'view']">{{
                candidatureP.formationContinue.nomFormationC
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="candidatureP.etablissement">
              <a [routerLink]="['/etablissement', candidatureP.etablissement.id, 'view']">{{
                candidatureP.etablissement.nomEtablissement
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/candidature-p', candidatureP.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/candidature-p', candidatureP.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(candidatureP)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
