<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="etudiant">
      <h2 data-cy="etudiantDetailsHeading"><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.detail.title">Etudiant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ etudiant.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.carteEtudiant">Carte Etudiant</span></dt>
        <dd>
          <span>{{ etudiant.carteEtudiant }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.nom">Nom</span></dt>
        <dd>
          <span>{{ etudiant.nom }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.prenom">Prenom</span></dt>
        <dd>
          <span>{{ etudiant.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.dateNaiss">Date Naiss</span></dt>
        <dd>
          <span>{{ etudiant.dateNaiss | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.lieuNaiss">Lieu Naiss</span></dt>
        <dd>
          <span>{{ etudiant.lieuNaiss }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Sexe.' + etudiant.sexe }}">{{ etudiant.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.telephone">Telephone</span></dt>
        <dd>
          <span>{{ etudiant.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.adressePhysique">Adresse Physique</span></dt>
        <dd>
          <span>{{ etudiant.adressePhysique }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.regionResidence">Region Residence</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomRegion.' + etudiant.regionResidence }}">{{ etudiant.regionResidence }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.departResidence">Depart Residence</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomDepartement.' + etudiant.departResidence }}">{{
            etudiant.departResidence
          }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.email">Email</span></dt>
        <dd>
          <span>{{ etudiant.email }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.cni">Cni</span></dt>
        <dd>
          <span>{{ etudiant.cni }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.etudiant.user">User</span></dt>
        <dd>
          <span>{{ etudiant.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/etudiant', etudiant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
