<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="etudiant">
      <h2 data-cy="etudiantDetailsHeading"><span>Etudiant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ etudiant.id }}</span>
        </dd>
        <dt><span>Carte Etudiant</span></dt>
        <dd>
          <span>{{ etudiant.carteEtudiant }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ etudiant.nom }}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
          <span>{{ etudiant.prenom }}</span>
        </dd>
        <dt><span>Date Naiss</span></dt>
        <dd>
          <span>{{ etudiant.dateNaiss | formatMediumDate }}</span>
        </dd>
        <dt><span>Lieu Naiss</span></dt>
        <dd>
          <span>{{ etudiant.lieuNaiss }}</span>
        </dd>
        <dt><span>Sexe</span></dt>
        <dd>
          <span>{{ etudiant.sexe }}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
          <span>{{ etudiant.telephone }}</span>
        </dd>
        <dt><span>Adresse Physique</span></dt>
        <dd>
          <span>{{ etudiant.adressePhysique }}</span>
        </dd>
        <dt><span>Region Residence</span></dt>
        <dd>
          <span>{{ etudiant.regionResidence }}</span>
        </dd>
        <dt><span>Depart Residence</span></dt>
        <dd>
          <span>{{ etudiant.departResidence }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ etudiant.email }}</span>
        </dd>
        <dt><span>Cni</span></dt>
        <dd>
          <span>{{ etudiant.cni }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ etudiant.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/etudiant', etudiant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
