<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-candidature-e-heading"
        data-cy="CandidatureECreateUpdateHeading"
        jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.home.createOrEditLabel"
      >
        Créer ou éditer un Candidature E
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.offreFormation" for="field_offreFormation"
            >Offre Formation</label
          >
          <select
            class="form-control"
            name="offreFormation"
            formControlName="offreFormation"
            id="field_offreFormation"
            data-cy="offreFormation"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let nomFiliere of nomFiliereValues" [value]="nomFiliere">{{ nomFiliere }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.dateDebutOffre" for="field_dateDebutOffre"
            >Date Debut Offre</label
          >
          <div class="input-group">
            <input
              id="field_dateDebutOffre"
              data-cy="dateDebutOffre"
              type="text"
              class="form-control"
              name="dateDebutOffre"
              ngbDatepicker
              #dateDebutOffreDp="ngbDatepicker"
              formControlName="dateDebutOffre"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutOffreDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.dateFinOffre" for="field_dateFinOffre"
            >Date Fin Offre</label
          >
          <div class="input-group">
            <input
              id="field_dateFinOffre"
              data-cy="dateFinOffre"
              type="text"
              class="form-control"
              name="dateFinOffre"
              ngbDatepicker
              #dateFinOffreDp="ngbDatepicker"
              formControlName="dateFinOffre"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinOffreDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.dateDepot" for="field_dateDepot">Date Depot</label>
          <div class="input-group">
            <input
              id="field_dateDepot"
              data-cy="dateDepot"
              type="text"
              class="form-control"
              name="dateDepot"
              ngbDatepicker
              #dateDepotDp="ngbDatepicker"
              formControlName="dateDepot"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDepotDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.resultat" for="field_resultat">Resultat</label>
          <select class="form-control" name="resultat" formControlName="resultat" id="field_resultat" data-cy="resultat">
            <option [ngValue]="null"></option>
            <option *ngFor="let resultat of resultatValues" [value]="resultat">{{ resultat }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.eleve" for="field_eleve">Eleve</label>
          <select class="form-control" id="field_eleve" data-cy="eleve" name="eleve" formControlName="eleve" [compareWith]="compareEleve">
            <option [ngValue]="null"></option>
            <option [ngValue]="eleveOption" *ngFor="let eleveOption of elevesSharedCollection">{{ eleveOption.niveauEtude }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.etudiant" for="field_etudiant">Etudiant</label>
          <select
            class="form-control"
            id="field_etudiant"
            data-cy="etudiant"
            name="etudiant"
            formControlName="etudiant"
            [compareWith]="compareEtudiant"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="etudiantOption" *ngFor="let etudiantOption of etudiantsSharedCollection">
              {{ etudiantOption.carteEtudiant }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.formationInitiale" for="field_formationInitiale"
            >Formation Initiale</label
          >
          <select
            class="form-control"
            id="field_formationInitiale"
            data-cy="formationInitiale"
            name="formationInitiale"
            formControlName="formationInitiale"
            [compareWith]="compareFormationInitiale"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="formationInitialeOption" *ngFor="let formationInitialeOption of formationInitialesSharedCollection">
              {{ formationInitialeOption.nomFormationI }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureE.etablissement" for="field_etablissement"
            >Etablissement</label
          >
          <select
            class="form-control"
            id="field_etablissement"
            data-cy="etablissement"
            name="etablissement"
            formControlName="etablissement"
            [compareWith]="compareEtablissement"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="etablissementOption" *ngFor="let etablissementOption of etablissementsSharedCollection">
              {{ etablissementOption.nomEtablissement }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
