<div>
  <h2 id="page-heading" data-cy="BailleurHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.home.title">Bailleurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bailleur"
        [routerLink]="['/bailleur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.home.createLabel"> Créer un nouveau Bailleur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bailleurs?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.home.notFound">Aucun Bailleur trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="bailleurs && bailleurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomBailleur">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.nomBailleur">Nom Bailleur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="budgetPrevu">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.budgetPrevu">Budget Prevu</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="budgetDepense">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.budgetDepense">Budget Depense</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="budgetRestant">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.budgetRestant">Budget Restant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbrePC">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.bailleur.nbrePC">Nbre PC</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let bailleur of bailleurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bailleur', bailleur.id, 'view']">{{ bailleur.id }}</a>
          </td>
          <td>{{ bailleur.nomBailleur }}</td>
          <td>{{ bailleur.budgetPrevu }}</td>
          <td>{{ bailleur.budgetDepense }}</td>
          <td>{{ bailleur.budgetRestant }}</td>
          <td>{{ bailleur.nbrePC }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bailleur', bailleur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bailleur', bailleur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(bailleur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
