<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-candidature-p-heading"
        data-cy="CandidaturePCreateUpdateHeading"
        jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.home.createOrEditLabel"
      >
        Créer ou éditer un Candidature P
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.offreFormation" for="field_offreFormation"
            >Offre Formation</label
          >
          <select
            class="form-control"
            name="offreFormation"
            formControlName="offreFormation"
            id="field_offreFormation"
            data-cy="offreFormation"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let nomFiliere of nomFiliereValues" [value]="nomFiliere">{{ nomFiliere }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.dateDebutOffre" for="field_dateDebutOffre"
            >Date Debut Offre</label
          >
          <div class="input-group">
            <input
              id="field_dateDebutOffre"
              data-cy="dateDebutOffre"
              type="text"
              class="form-control"
              name="dateDebutOffre"
              ngbDatepicker
              #dateDebutOffreDp="ngbDatepicker"
              formControlName="dateDebutOffre"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutOffreDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.dateFinOffre" for="field_dateFinOffre"
            >Date Fin Offre</label
          >
          <div class="input-group">
            <input
              id="field_dateFinOffre"
              data-cy="dateFinOffre"
              type="text"
              class="form-control"
              name="dateFinOffre"
              ngbDatepicker
              #dateFinOffreDp="ngbDatepicker"
              formControlName="dateFinOffre"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinOffreDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.dateDepot" for="field_dateDepot">Date Depot</label>
          <div class="input-group">
            <input
              id="field_dateDepot"
              data-cy="dateDepot"
              type="text"
              class="form-control"
              name="dateDepot"
              ngbDatepicker
              #dateDepotDp="ngbDatepicker"
              formControlName="dateDepot"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDepotDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.resultat" for="field_resultat">Resultat</label>
          <select class="form-control" name="resultat" formControlName="resultat" id="field_resultat" data-cy="resultat">
            <option [ngValue]="null"></option>
            <option *ngFor="let resultat of resultatValues" [value]="resultat">{{ resultat }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.professionnel" for="field_professionnel"
            >Professionnel</label
          >
          <select
            class="form-control"
            id="field_professionnel"
            data-cy="professionnel"
            name="professionnel"
            formControlName="professionnel"
            [compareWith]="compareProfessionnel"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="professionnelOption" *ngFor="let professionnelOption of professionnelsSharedCollection">
              {{ professionnelOption.profession }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.formationContinue" for="field_formationContinue"
            >Formation Continue</label
          >
          <select
            class="form-control"
            id="field_formationContinue"
            data-cy="formationContinue"
            name="formationContinue"
            formControlName="formationContinue"
            [compareWith]="compareFormationContinue"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="formationContinueOption" *ngFor="let formationContinueOption of formationContinuesSharedCollection">
              {{ formationContinueOption.nomFormationC }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.candidatureP.etablissement" for="field_etablissement"
            >Etablissement</label
          >
          <select
            class="form-control"
            id="field_etablissement"
            data-cy="etablissement"
            name="etablissement"
            formControlName="etablissement"
            [compareWith]="compareEtablissement"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="etablissementOption" *ngFor="let etablissementOption of etablissementsSharedCollection">
              {{ etablissementOption.nomEtablissement }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
