<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="concours">
      <h2 data-cy="concoursDetailsHeading"><span jhiTranslate="jhipsterProjectBaseJwtApp.concours.detail.title">Concours</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ concours.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.concours.nomConcours">Nom Concours</span></dt>
        <dd>
          <span>{{ concours.nomConcours }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.concours.nomEtablissement">Nom Etablissement</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomEtablissement.' + concours.nomEtablissement }}">{{
            concours.nomEtablissement
          }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.concours.niveauEtude">Niveau Etude</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NiveauEtude.' + concours.niveauEtude }}">{{ concours.niveauEtude }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.concours.dateOuverture">Date Ouverture</span></dt>
        <dd>
          <span>{{ concours.dateOuverture | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.concours.dateCloture">Date Cloture</span></dt>
        <dd>
          <span>{{ concours.dateCloture | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.concours.dateConcours">Date Concours</span></dt>
        <dd>
          <span>{{ concours.dateConcours | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.concours.affiche">Affiche</span></dt>
        <dd>
          <div *ngIf="concours.affiche">
            <a (click)="openFile(concours.affiche, concours.afficheContentType)">
              <img
                [src]="'data:' + concours.afficheContentType + ';base64,' + concours.affiche"
                style="max-width: 100%"
                alt="concours image"
              />
            </a>
            {{ concours.afficheContentType }}, {{ byteSize(concours.affiche) }}
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.concours.formation">Formation</span></dt>
        <dd>
          <div *ngIf="concours.formation">
            <a [routerLink]="['/formation', concours.formation.id, 'view']">{{ concours.formation.nomFormation }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/concours', concours.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
