<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-formation-continue-heading" data-cy="FormationContinueCreateUpdateHeading">Create or edit a Formation Continue</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomFormationC">Nom Formation C</label>
          <input
            type="text"
            class="form-control"
            name="nomFormationC"
            id="field_nomFormationC"
            data-cy="nomFormationC"
            formControlName="nomFormationC"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_duree">Duree</label>
          <input type="text" class="form-control" name="duree" id="field_duree" data-cy="duree" formControlName="duree" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_admission">Admission</label>
          <select class="form-control" name="admission" formControlName="admission" id="field_admission" data-cy="admission">
            <option [ngValue]="null"></option>
            <option *ngFor="let admission of admissionValues" [value]="admission">admission</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_diplomeRequis">Diplome Requis</label>
          <select
            class="form-control"
            name="diplomeRequis"
            formControlName="diplomeRequis"
            id="field_diplomeRequis"
            data-cy="diplomeRequis"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let diplomeRequis of diplomeRequisValues" [value]="diplomeRequis">diplomeRequis</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_niveauEtude">Niveau Etude</label>
          <select class="form-control" name="niveauEtude" formControlName="niveauEtude" id="field_niveauEtude" data-cy="niveauEtude">
            <option [ngValue]="null"></option>
            <option *ngFor="let niveauEtude of niveauEtudeValues" [value]="niveauEtude">niveauEtude</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_filiere">Filiere</label>
          <select class="form-control" name="filiere" formControlName="filiere" id="field_filiere" data-cy="filiere">
            <option [ngValue]="null"></option>
            <option *ngFor="let nomFiliere of nomFiliereValues" [value]="nomFiliere">nomFiliere</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_serie">Serie</label>
          <select class="form-control" name="serie" formControlName="serie" id="field_serie" data-cy="serie">
            <option [ngValue]="null"></option>
            <option *ngFor="let nomSerie of nomSerieValues" [value]="nomSerie">nomSerie</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_cfp">Cfp</label>
          <select class="form-control" name="cfp" formControlName="cfp" id="field_cfp" data-cy="cfp">
            <option [ngValue]="null"></option>
            <option *ngFor="let cFP of cFPValues" [value]="cFP">cFP</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lycee">Lycee</label>
          <select class="form-control" name="lycee" formControlName="lycee" id="field_lycee" data-cy="lycee">
            <option [ngValue]="null"></option>
            <option *ngFor="let lYCEE of lYCEEValues" [value]="lYCEE">lYCEE</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ficheFormation">Fiche Formation</label>
          <div>
            <div *ngIf="editForm.get('ficheFormation')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('ficheFormation')!.value, editForm.get('ficheFormationContentType')!.value)"
                >open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('ficheFormationContentType')!.value }}, {{ byteSize(editForm.get('ficheFormation')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ ficheFormation: null }); editForm.patchValue({ ficheFormationContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_ficheFormation" data-cy="ficheFormation" (change)="setFileData($event, 'ficheFormation', false)" />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="ficheFormation"
            id="field_ficheFormation"
            data-cy="ficheFormation"
            formControlName="ficheFormation"
          />
          <input
            type="hidden"
            class="form-control"
            name="ficheFormationContentType"
            id="field_ficheFormationContentType"
            formControlName="ficheFormationContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_libellePC">Libelle PC</label>
          <input type="text" class="form-control" name="libellePC" id="field_libellePC" data-cy="libellePC" formControlName="libellePC" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_montantPriseEnCharge">Montant Prise En Charge</label>
          <input
            type="number"
            class="form-control"
            name="montantPriseEnCharge"
            id="field_montantPriseEnCharge"
            data-cy="montantPriseEnCharge"
            formControlName="montantPriseEnCharge"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_coutFormation">Cout Formation</label>
          <input
            type="number"
            class="form-control"
            name="coutFormation"
            id="field_coutFormation"
            data-cy="coutFormation"
            formControlName="coutFormation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_detailPC">Detail PC</label>
          <textarea class="form-control" name="detailPC" id="field_detailPC" data-cy="detailPC" formControlName="detailPC"></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomDiplome">Nom Diplome</label>
          <select class="form-control" name="nomDiplome" formControlName="nomDiplome" id="field_nomDiplome" data-cy="nomDiplome">
            <option [ngValue]="null"></option>
            <option *ngFor="let diplomeObtenu of diplomeObtenuValues" [value]="diplomeObtenu">diplomeObtenu</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_autreDiplome">Autre Diplome</label>
          <input
            type="text"
            class="form-control"
            name="autreDiplome"
            id="field_autreDiplome"
            data-cy="autreDiplome"
            formControlName="autreDiplome"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomDebouche">Nom Debouche</label>
          <input
            type="text"
            class="form-control"
            name="nomDebouche"
            id="field_nomDebouche"
            data-cy="nomDebouche"
            formControlName="nomDebouche"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_formation">Formation</label>
          <select class="form-control" id="field_formation" data-cy="formation" name="formation" formControlName="formation">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="formationOption.id === editForm.get('formation')!.value?.id ? editForm.get('formation')!.value : formationOption"
              *ngFor="let formationOption of formationsCollection; trackBy: trackFormationById"
            >
              {{ formationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
