<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-formation-heading"
        data-cy="FormationCreateUpdateHeading"
        jhiTranslate="jhipsterProjectBaseJwtApp.formation.home.createOrEditLabel"
      >
        Créer ou éditer un Formation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.formation.nomFormation" for="field_nomFormation"
            >Nom Formation</label
          >
          <input
            type="text"
            class="form-control"
            name="nomFormation"
            id="field_nomFormation"
            data-cy="nomFormation"
            formControlName="nomFormation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.formation.imageFormation" for="field_imageFormation"
            >Image Formation</label
          >
          <div>
            <img
              [src]="'data:' + editForm.get('imageFormationContentType')!.value + ';base64,' + editForm.get('imageFormation')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('imageFormation')!.value"
              alt="formation image"
            />
            <div *ngIf="editForm.get('imageFormation')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('imageFormationContentType')!.value }}, {{ byteSize(editForm.get('imageFormation')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('imageFormation', 'imageFormationContentType', 'file_imageFormation')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_imageFormation"
              data-cy="imageFormation"
              (change)="setFileData($event, 'imageFormation', true)"
              accept="image/*"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="imageFormation"
            id="field_imageFormation"
            data-cy="imageFormation"
            formControlName="imageFormation"
          />
          <input
            type="hidden"
            class="form-control"
            name="imageFormationContentType"
            id="field_imageFormationContentType"
            formControlName="imageFormationContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.formation.typeFormation" for="field_typeFormation"
            >Type Formation</label
          >
          <select
            class="form-control"
            name="typeFormation"
            formControlName="typeFormation"
            id="field_typeFormation"
            data-cy="typeFormation"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let typeFormation of typeFormationValues" [value]="typeFormation">{{ typeFormation }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.formation.duree" for="field_duree">Duree</label>
          <input type="text" class="form-control" name="duree" id="field_duree" data-cy="duree" formControlName="duree" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.formation.admission" for="field_admission">Admission</label>
          <select class="form-control" name="admission" formControlName="admission" id="field_admission" data-cy="admission">
            <option [ngValue]="null"></option>
            <option *ngFor="let admission of admissionValues" [value]="admission">{{ admission }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.formation.diplomeRequis" for="field_diplomeRequis"
            >Diplome Requis</label
          >
          <select
            class="form-control"
            name="diplomeRequis"
            formControlName="diplomeRequis"
            id="field_diplomeRequis"
            data-cy="diplomeRequis"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let diplomeRequis of diplomeRequisValues" [value]="diplomeRequis">{{ diplomeRequis }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterProjectBaseJwtApp.formation.ficheFormation" for="field_ficheFormation"
            >Fiche Formation</label
          >
          <div>
            <div *ngIf="editForm.get('ficheFormation')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('ficheFormation')!.value!, editForm.get('ficheFormationContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Ouvrir</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('ficheFormationContentType')!.value }}, {{ byteSize(editForm.get('ficheFormation')!.value!) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ ficheFormation: undefined, ficheFormationContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_ficheFormation" data-cy="ficheFormation" (change)="setFileData($event, 'ficheFormation', false)" />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="ficheFormation"
            id="field_ficheFormation"
            data-cy="ficheFormation"
            formControlName="ficheFormation"
          />
          <input
            type="hidden"
            class="form-control"
            name="ficheFormationContentType"
            id="field_ficheFormationContentType"
            formControlName="ficheFormationContentType"
          />
        </div>

        <div class="mb-3">
          <label jhiTranslate="jhipsterProjectBaseJwtApp.formation.etablissement" for="field_etablissements">Etablissement</label>
          <select
            class="form-control"
            id="field_etablissements"
            data-cy="etablissement"
            multiple
            name="etablissements"
            formControlName="etablissements"
            [compareWith]="compareEtablissement"
          >
            <option [ngValue]="etablissementOption" *ngFor="let etablissementOption of etablissementsSharedCollection">
              {{ etablissementOption.nomEtablissement }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['etablissements'])!.invalid &&
            (editForm.get(['etablissements'])!.dirty || editForm.get(['etablissements'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['etablissements'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
