<div>
  <h2 id="page-heading" data-cy="FormationInitialeHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.home.title">FormationInitiales</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-formation-initiale"
        [routerLink]="['/formation-initiale/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.home.createLabel"> Créer un nouveau Formation Initiale </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formationInitiales?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.home.notFound">Aucun Formation Initiale trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="formationInitiales && formationInitiales.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomFormationI">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.nomFormationI">Nom Formation I</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duree">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.duree">Duree</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="admission">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.admission">Admission</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="diplomeRequis">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.diplomeRequis">Diplome Requis</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="niveauEtude">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.niveauEtude">Niveau Etude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ficheFormation">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.ficheFormation">Fiche Formation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="filiere">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.filiere">Filiere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serie">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.serie">Serie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cfp">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.cfp">Cfp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lycee">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.lycee">Lycee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomConcours">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.nomConcours">Nom Concours</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateOuverture">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.dateOuverture">Date Ouverture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateCloture">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.dateCloture">Date Cloture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateConcours">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.dateConcours">Date Concours</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomDiplome">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.nomDiplome">Nom Diplome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomDebouche">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.nomDebouche">Nom Debouche</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="formation.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.formationInitiale.formation">Formation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let formationInitiale of formationInitiales; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/formation-initiale', formationInitiale.id, 'view']">{{ formationInitiale.id }}</a>
          </td>
          <td>{{ formationInitiale.nomFormationI }}</td>
          <td>{{ formationInitiale.duree }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Admission.' + formationInitiale.admission }}">
            {{ formationInitiale.admission }}
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.DiplomeRequis.' + formationInitiale.diplomeRequis }}">
            {{ formationInitiale.diplomeRequis }}
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NiveauEtude.' + formationInitiale.niveauEtude }}">
            {{ formationInitiale.niveauEtude }}
          </td>
          <td>
            <a
              *ngIf="formationInitiale.ficheFormation"
              (click)="openFile(formationInitiale.ficheFormation, formationInitiale.ficheFormationContentType)"
              jhiTranslate="entity.action.open"
              >Ouvrir</a
            >
            <span *ngIf="formationInitiale.ficheFormation"
              >{{ formationInitiale.ficheFormationContentType }}, {{ byteSize(formationInitiale.ficheFormation) }}</span
            >
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomFiliere.' + formationInitiale.filiere }}">{{ formationInitiale.filiere }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomSerie.' + formationInitiale.serie }}">{{ formationInitiale.serie }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.CFP.' + formationInitiale.cfp }}">{{ formationInitiale.cfp }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.LYCEE.' + formationInitiale.lycee }}">{{ formationInitiale.lycee }}</td>
          <td>{{ formationInitiale.nomConcours }}</td>
          <td>{{ formationInitiale.dateOuverture | formatMediumDate }}</td>
          <td>{{ formationInitiale.dateCloture | formatMediumDate }}</td>
          <td>{{ formationInitiale.dateConcours | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.DiplomeObtenu.' + formationInitiale.nomDiplome }}">
            {{ formationInitiale.nomDiplome }}
          </td>
          <td>{{ formationInitiale.nomDebouche }}</td>
          <td>
            <div *ngIf="formationInitiale.formation">
              <a [routerLink]="['/formation', formationInitiale.formation.id, 'view']">{{ formationInitiale.formation.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/formation-initiale', formationInitiale.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/formation-initiale', formationInitiale.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(formationInitiale)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
