<div>
  <h2 id="page-heading" data-cy="FormationInitialeHeading" style="text-align: center; font-style: italic; font-weight: bold">
    <span>Les formations Initiales</span>

    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-formation-initiale"
        [routerLink]="['/formation-initiale/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Formation Initiale </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formationInitiales?.length === 0">
    <span>No formationInitiales found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="formationInitiales && formationInitiales.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomFormationI"><span>Nom Formation I</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="duree"><span>Duree</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="admission"><span>Admission</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="diplomeRequis"><span>Diplome Requis</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="niveauEtude"><span>Niveau Etude</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ficheFormation"><span>Fiche Formation</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="filiere"><span>Filiere</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="serie"><span>Serie</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="cfp"><span>Cfp</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="lycee"><span>Lycee</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="nomConcours"><span>Nom Concours</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateOuverture"><span>Date Ouverture</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateCloture"><span>Date Cloture</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateConcours"><span>Date Concours</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomDiplome"><span>Nom Diplome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomDebouche"><span>Nom Debouche</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="formation.id"><span>Formation</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let formationInitiale of formationInitiales; trackBy: trackId" data-cy="entityTable">
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <a [routerLink]="['/formation-initiale', formationInitiale.id, 'view']">{{ formationInitiale.id }}</a>
          </td>
          <td>{{ formationInitiale.nomFormationI }}</td>
          <td>{{ formationInitiale.duree }}</td>
          <td>{{ formationInitiale.admission }}</td>
          <!-- <td>{{ formationInitiale.diplomeRequis }}</td> -->
          <td>{{ formationInitiale.niveauEtude }}</td>
          <td>
            <a
              *ngIf="formationInitiale.ficheFormation"
              (click)="openFile(formationInitiale.ficheFormation, formationInitiale.ficheFormationContentType)"
              >open</a
            >
            <span *ngIf="formationInitiale.ficheFormation"
              >{{ formationInitiale.ficheFormationContentType }}, {{ byteSize(formationInitiale.ficheFormation) }}</span
            >
          </td>
          <!-- <td>{{ formationInitiale.filiere }}</td>
          <td>{{ formationInitiale.serie }}</td>
          <td>{{ formationInitiale.cfp }}</td>
          <td>{{ formationInitiale.lycee }}</td>
          <td>{{ formationInitiale.nomConcours }}</td>
          <td>{{ formationInitiale.dateOuverture | formatMediumDate }}</td>
          <td>{{ formationInitiale.dateCloture | formatMediumDate }}</td>
          <td>{{ formationInitiale.dateConcours | formatMediumDate }}</td>
          <td>{{ formationInitiale.nomDiplome }}</td>
          <td>{{ formationInitiale.nomDebouche }}</td> -->
          <!-- <td>
            <div *ngIf="formationInitiale.formation">
              <a [routerLink]="['/formation', formationInitiale.formation?.id, 'view']">{{ formationInitiale.formation?.nomFormation }}</a>
            </div>
          </td> -->
          <td class="text-end">
            <div class="btn-group">
              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/formation-initiale', formationInitiale.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <!-- <span class="d-none d-md-inline">View</span> -->
              </button>

              <button type="submit" routerLink="/candidature-e/new" class="btn btn-success btn-sm" data-cy="entityDetailsButton">
                <!-- <fa-icon icon="eye"></fa-icon> -->
                <span class="d-none d-md-inline">Postuler</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/formation-initiale', formationInitiale.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                (click)="delete(formationInitiale)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
