<div>
  <h2 id="page-heading" data-cy="DemandeurHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.home.title">Demandeurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demandeur"
        [routerLink]="['/demandeur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.home.createLabel"> Créer un nouveau Demandeur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeurs?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.home.notFound">Aucun Demandeur trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="demandeurs && demandeurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.prenom">Prenom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.dateNaiss">Date Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lieuNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.lieuNaiss">Lieu Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.sexe">Sexe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.telephone">Telephone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profil">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.profil">Profil</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dossier.numDossier">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.dossier">Dossier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eleve.cni">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.eleve">Eleve</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etudiant.cni">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.etudiant">Etudiant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="professionnel.cni">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.demandeur.professionnel">Professionnel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let demandeur of demandeurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demandeur', demandeur.id, 'view']">{{ demandeur.id }}</a>
          </td>
          <td>{{ demandeur.nom }}</td>
          <td>{{ demandeur.prenom }}</td>
          <td>{{ demandeur.dateNaiss | formatMediumDate }}</td>
          <td>{{ demandeur.lieuNaiss }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Sexe.' + demandeur.sexe }}">{{ demandeur.sexe }}</td>
          <td>{{ demandeur.telephone }}</td>
          <td>{{ demandeur.email }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Profil.' + demandeur.profil }}">{{ demandeur.profil }}</td>
          <td>
            {{ demandeur.user?.login }}
          </td>
          <td>
            <div *ngIf="demandeur.dossier">
              <a [routerLink]="['/dossier', demandeur.dossier.id, 'view']">{{ demandeur.dossier.numDossier }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="demandeur.eleve">
              <a [routerLink]="['/eleve', demandeur.eleve.id, 'view']">{{ demandeur.eleve.cni }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="demandeur.etudiant">
              <a [routerLink]="['/etudiant', demandeur.etudiant.id, 'view']">{{ demandeur.etudiant.cni }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="demandeur.professionnel">
              <a [routerLink]="['/professionnel', demandeur.professionnel.id, 'view']">{{ demandeur.professionnel.cni }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demandeur', demandeur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demandeur', demandeur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(demandeur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
