<div>
  <h2 id="page-heading" data-cy="ConcoursHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.home.title">Concours</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-concours"
        [routerLink]="['/concours/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.home.createLabel"> Créer un nouveau Concours </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="concours?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.home.notFound">Aucun Concours trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="concours && concours.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomConcours">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.nomConcours">Nom Concours</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomEtablissement">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.nomEtablissement">Nom Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="niveauEtude">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.niveauEtude">Niveau Etude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateOuverture">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.dateOuverture">Date Ouverture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateCloture">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.dateCloture">Date Cloture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateConcours">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.dateConcours">Date Concours</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="affiche">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.affiche">Affiche</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="formation.nomFormation">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.concours.formation">Formation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let concours of concours; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/concours', concours.id, 'view']">{{ concours.id }}</a>
          </td>
          <td>{{ concours.nomConcours }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomEtablissement.' + concours.nomEtablissement }}">
            {{ concours.nomEtablissement }}
          </td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NiveauEtude.' + concours.niveauEtude }}">{{ concours.niveauEtude }}</td>
          <td>{{ concours.dateOuverture | formatMediumDate }}</td>
          <td>{{ concours.dateCloture | formatMediumDate }}</td>
          <td>{{ concours.dateConcours | formatMediumDate }}</td>
          <td>
            <a *ngIf="concours.affiche" (click)="openFile(concours.affiche, concours.afficheContentType)">
              <img
                [src]="'data:' + concours.afficheContentType + ';base64,' + concours.affiche"
                style="max-height: 30px"
                alt="concours image"
              />
            </a>
            <span *ngIf="concours.affiche">{{ concours.afficheContentType }}, {{ byteSize(concours.affiche) }}</span>
          </td>
          <td>
            <div *ngIf="concours.formation">
              <a [routerLink]="['/formation', concours.formation.id, 'view']">{{ concours.formation.nomFormation }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/concours', concours.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/concours', concours.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(concours)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
