<div>
  <h2 id="page-heading" data-cy="ExperienceHeading">
    <span>Experiences</span>

    <div class="d-flex justify-content-end">
      <!-- <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button> -->

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-experience"
        [routerLink]="['/experience/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Ajouter une nouvelle experience </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="experiences?.length === 0">
    <span>Aucune experience trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="experiences && experiences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDebut"><span>Date Debut</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateFin"><span>Date Fin</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomEntreprise"><span>Nom Entreprise</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="posteOccupe"><span>Poste Occupe</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="mission"><span>Mission</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="eleve.niveauEtude"><span>Eleve</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etudiant.carteEtudiant"><span>Etudiant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="professionnel.profession"><span>Professionnel</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="demandeur.profil"><span>Demandeur</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let experience of experiences; trackBy: trackId" data-cy="entityTable">
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <a [routerLink]="['/experience', experience.id, 'view']">{{ experience.id }}</a>
          </td>
          <td>{{ experience.dateDebut | formatMediumDate }}</td>
          <td>{{ experience.dateFin | formatMediumDate }}</td>
          <td>{{ experience.nomEntreprise }}</td>
          <td>{{ experience.posteOccupe }}</td>
          <td>{{ experience.mission }}</td>
          <td>
            <div *ngIf="experience.eleve">
              <a [routerLink]="['/eleve', experience.eleve?.id, 'view']">{{ experience.eleve?.niveauEtude }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="experience.etudiant">
              <a [routerLink]="['/etudiant', experience.etudiant?.id, 'view']">{{ experience.etudiant?.carteEtudiant }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="experience.professionnel">
              <a [routerLink]="['/professionnel', experience.professionnel?.id, 'view']">{{ experience.professionnel?.profession }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="experience.demandeur">
              <a [routerLink]="['/demandeur', experience.demandeur?.id, 'view']">{{ experience.demandeur?.profil }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/experience', experience.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/experience', experience.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(experience)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
