<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="professionnel">
      <h2 data-cy="professionnelDetailsHeading">
        <span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.detail.title">Professionnel</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ professionnel.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.profession">Profession</span></dt>
        <dd>
          <span>{{ professionnel.profession }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.nom">Nom</span></dt>
        <dd>
          <span>{{ professionnel.nom }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.prenom">Prenom</span></dt>
        <dd>
          <span>{{ professionnel.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.dateNaiss">Date Naiss</span></dt>
        <dd>
          <span>{{ professionnel.dateNaiss | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.lieuNaiss">Lieu Naiss</span></dt>
        <dd>
          <span>{{ professionnel.lieuNaiss }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Sexe.' + professionnel.sexe }}">{{ professionnel.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.telephone">Telephone</span></dt>
        <dd>
          <span>{{ professionnel.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.adressePhysique">Adresse Physique</span></dt>
        <dd>
          <span>{{ professionnel.adressePhysique }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.regionResidence">Region Residence</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomRegion.' + professionnel.regionResidence }}">{{
            professionnel.regionResidence
          }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.departResidence">Depart Residence</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomDepartement.' + professionnel.departResidence }}">{{
            professionnel.departResidence
          }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.email">Email</span></dt>
        <dd>
          <span>{{ professionnel.email }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.cni">Cni</span></dt>
        <dd>
          <span>{{ professionnel.cni }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterProjectBaseJwtApp.professionnel.user">User</span></dt>
        <dd>
          <span>{{ professionnel.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/professionnel', professionnel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
