<div>
  <h2 id="page-heading" data-cy="CandidatureEHeading">
    <span>Les candidatures</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button> -->

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-candidature-e"
        [routerLink]="['/candidature-e/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Candidature E </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="candidatureES?.length === 0">
    <span>No candidatureES found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="candidatureES && candidatureES.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="offreFormation"><span>Offre Formation en :</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDebutOffre"><span>Date Debut Offre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateFinOffre"><span>Date Fin Offre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDepot"><span>Date Depot</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="resultat"><span>Resultat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="eleve.niveauEtude"><span>Eleve</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etudiant.carteEtudiant"><span>Etudiant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="formationInitiale.nomFormationI"><span>Formation Initiale</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etablissement.nomEtablissement"><span>Etablissement</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let candidatureE of candidatureES; trackBy: trackId" data-cy="entityTable">
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <a [routerLink]="['/candidature-e', candidatureE.id, 'view']">{{ candidatureE.id }}</a>
          </td>
          <td>{{ candidatureE.offreFormation }}</td>
          <td>{{ candidatureE.dateDebutOffre | formatMediumDate }}</td>
          <td>{{ candidatureE.dateFinOffre | formatMediumDate }}</td>
          <td>{{ candidatureE.dateDepot | formatMediumDate }}</td>
          <td>{{ candidatureE.resultat }}</td>
          <td>
            <div *ngIf="candidatureE.eleve">
              <a [routerLink]="['/eleve', candidatureE.eleve?.id, 'view']">{{ candidatureE.eleve?.niveauEtude }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="candidatureE.etudiant">
              <a [routerLink]="['/etudiant', candidatureE.etudiant?.id, 'view']">{{ candidatureE.etudiant?.carteEtudiant }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="candidatureE.formationInitiale">
              <a [routerLink]="['/formation-initiale', candidatureE.formationInitiale?.id, 'view']">{{
                candidatureE.formationInitiale?.nomFormationI
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="candidatureE.etablissement">
              <a [routerLink]="['/etablissement', candidatureE.etablissement?.id, 'view']">{{
                candidatureE.etablissement?.nomEtablissement
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
              <button
                type="submit"
                [routerLink]="['/candidature-e', candidatureE.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/candidature-e', candidatureE.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(candidatureE)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
