<div>
  <h2 id="page-heading" data-cy="EleveHeading">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.home.title">Eleves</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-eleve"
        [routerLink]="['/eleve/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.home.createLabel"> Créer un nouveau Eleve </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eleves?.length === 0">
    <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.home.notFound">Aucun Eleve trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="eleves && eleves.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.prenom">Prenom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.dateNaiss">Date Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lieuNaiss">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.lieuNaiss">Lieu Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.sexe">Sexe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.telephone">Telephone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adressePhysique">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.adressePhysique">Adresse Physique</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regionResidence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.regionResidence">Region Residence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="departResidence">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.departResidence">Depart Residence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="niveauEtude">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.niveauEtude">Niveau Etude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cni">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.cni">Cni</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="jhipsterProjectBaseJwtApp.eleve.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let eleve of eleves; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/eleve', eleve.id, 'view']">{{ eleve.id }}</a>
          </td>
          <td>{{ eleve.nom }}</td>
          <td>{{ eleve.prenom }}</td>
          <td>{{ eleve.dateNaiss | formatMediumDate }}</td>
          <td>{{ eleve.lieuNaiss }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.Sexe.' + eleve.sexe }}">{{ eleve.sexe }}</td>
          <td>{{ eleve.telephone }}</td>
          <td>{{ eleve.adressePhysique }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomRegion.' + eleve.regionResidence }}">{{ eleve.regionResidence }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NomDepartement.' + eleve.departResidence }}">{{ eleve.departResidence }}</td>
          <td jhiTranslate="{{ 'jhipsterProjectBaseJwtApp.NiveauEtude.' + eleve.niveauEtude }}">{{ eleve.niveauEtude }}</td>
          <td>{{ eleve.cni }}</td>
          <td>
            {{ eleve.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/eleve', eleve.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/eleve', eleve.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(eleve)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
